@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
}
:root {
    --button: #FF0000;
    --main-background:  #C4C4C4;
    --background: #E5E5E5;
    --text: #000;
    --footer: #000;
    --text-description: #9C9696;
}
body{
    margin: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 0 40px;
    margin: 20px;
    margin-bottom: 40px;
    
}
#navbar-container{
    display: flex;
    gap: 2rem;
}
.nav-item{
    text-decoration: none;
    color: var(--text);
}
.nav-item:visited{
    color: var(--text);
}
.nav-item:hover{
    opacity: 70%;
}
#search-container label{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
#search{
    width: 150px;
    height: 30px;
    border:none;
    background-color: #fff;
    border-radius: 2px;
    padding-left: 5px;
}
#lupa:hover{
    opacity: 60%;
}
#bag:hover{
    opacity: 60%;
}
#main-container{
    display: flex;
    align-items: flex-start;
    gap: 55px;
}
#description-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25vw;
    padding: 0 20px;
    
}
#title-description{
    font-size: 3rem;
}
#phrase-description{
    font-size: 0.9rem;
    color: var(--text-description);
}
#price-description{
    font-size: 2.2rem;
    
}
#btn-description{
    background-color: var(--button);
    border:none;
    width: 220px;
    height: 60px;
    color: var(--background);
    cursor: pointer;
}
#btn-description:hover{
    opacity: 70%;
}
#galery-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-background);
    padding: 20px;
    width: 65vw;
}
#imagem-ampliada{
    background-color: var(--main-background);
}
#galery{
    background-color:var(--main-background);
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    grid-template-columns: 20vw 20vw 20vw;
}
#galery img{
    width: 20vw;
    height: 30vh;
}
.image:hover{ 
    opacity: 60%;
    border-bottom: solid 4px var(--button);
    transition: 300ms;
}
footer{
    display: flex;
    justify-content: space-around;
    gap: 12vw;
    align-items: center;
    position: relative;
}
#footer-navbar-container{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}
video{
    width: 15vw;
    height: 25vh;
}
.footer-navbar-item{
    text-decoration: none;
    color:var(--text);
}
.footer-navbar-item:hover{
    opacity: 60%;
}
#footer-navbar-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 20vh;
    border: none;
    background-color: var(--text);
    margin-bottom: 4px;
    cursor: pointer;
}
#footer-navbar-button button{
    background-color: inherit;
    border: none;
    color: var(--background);
    cursor: pointer;
}
#footer-navbar-button:hover{
    opacity: 80%;
}
#footer-navbar-button img{
    background-color: inherit;
    padding-left: 3px;
}
@media (max-width: 1000px) {
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    #search{
        background-color: #E5E5E5;
        border:solid 2px black;
    }
   
    #lupa{
        display: none;
    }
    #navbar-container{
        flex-direction: row;
        align-items: center;
    }
    #main-container{
        flex-direction: column-reverse;
        align-items: center;
    }
    #description-container{
        align-items: center;
        padding:0 30px;
        margin: 0 30px;
        margin-bottom: 50px;
    }
    #title-description{
        font-size: 3rem;
        width: 500px;
    }
    #phrase-description{
        display: none;
    }
    #price-description{
        color: #9C9696;
        font-size: 2rem;
        width: 300px;
        text-align: center;
    }
    #galery-container{
        width: 500px;
        display: flex;
        flex-direction: column;
        display: flex;
        
        border-radius: 1rem;
    }
    
    #galery{
        
        grid-template-columns: 100px 100px 100px;
        align-items: center;
        justify-content: center;
        gap:20px;
    }
    #galery img{
        width: 100px;
        height: 70px;
        border-radius: 0.5rem;
    }
    footer{
        flex-direction: column;
        gap: 50px;
    }
    video{
        width: 500px;
    }
    #footer-navbar-container{
        gap:30px;
    }
    #footer-navbar-button{
        width: 500px;
        height: 332px;
    }
}


@media (max-width: 700px) {
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    #search{
        background-color: #E5E5E5;
        border:solid 2px black;
    }
   
    #lupa{
        display: none;
    }
    #navbar-container{
        flex-direction: column;
        align-items: center;
    }
    #main-container{
        flex-direction: column-reverse;
        align-items: center;
    }
    #description-container{
        align-items: center;
        padding:0 30px;
        margin: 0 30px;
        margin-bottom: 50px;
    }
    #title-description{
        font-size: 2.5rem;
        width: 300px;
    }
    #phrase-description{
        display: none;
    }
    #price-description{
        color: #9C9696;
        font-size: 2rem;
        width: 300px;
        text-align: center;
    }
    #galery-container{
        width: 300px;
        display: flex;
        flex-direction: column;
        display: flex;
        border-radius: 1rem;
    }
    #galery{
        
        grid-template-columns: 70px 70px 70px;
        align-items: center;
        justify-content: center;
    }
    #galery img{
        width: 70px;
        height: 50px;
        border-radius: 0.5rem;
    }
    footer{
        flex-direction: column;
        gap: 50px;
    }
    video{
        width: 330px;
    }
    #footer-navbar-container{
        gap:10px;
    }
    #footer-navbar-button{
        width: 330px;
        height: 219px;
    }
}